<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<link href="/css/modal.css" rel="stylesheet" type="text/css">

<head>
    <%- include('partial/head'); %>
</head>

<body id="landing" class="sidebar-open">

<div class="page-container animsition">
    <div id="dashboardPage">
        
<!-- Header -->
<%- include('partial/header'); %>

<!-- SideBar -->
<%- include('partial/sidebar'); %>

<main>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-6">
                <h4 class="page-title">Product</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product</li>
                    </ol>
                </nav>
            </div>
            <div class="col-6">
                <div class="text-right">
                    <small>Users Online</small>
                    <h5 class="text-info">3,458</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <%- include('partial/star'); %>
        <%- include('partial/modal'); %>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title"> Products</h4>
                                <!-- <p class="card-subtitle">Overview of Top Selling Items</p> -->
                                <div style="margin-bottom:20px; font-style: italic; color: #0a1df1; font-size: 5px; font-weight: bold">
                                    <% if (message.length) {
                                        %> <p> Status : <%= message %></p>  <%
                                    } else {
                                        %> <p> "No Message" </p>  <%
                                    } %>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                    
                                    <a href="#popUp" id="openPopUp" class="btn btn-primary display-block"><i class="feather icon-download"></i> Add Product</a>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table v-middle" id="product_table" class="table table-striped table-bordered nowrap" style="width:100%">
                            <thead>
                              <tr class="bg-light">
                                <th class="border-top-0" scope="col">#</th>
                                <th class="border-top-0" scope="col">Image </th>
                                <th class="border-top-0" scope="col">Nama Barang</th>
                                <th class="border-top-0" scope="col">Harga Beli </th>
                                <th class="border-top-0" scope="col">Harga jual </th>
                                <th class="border-top-0" scope="col">Stok </th>
                                <th class="border-top-0" scope="col">Action </th>
                             
                              </tr>
                            </thead>
                            <tbody>
                                <% if(data.length){
                                    for(var i = 0; i< data.length; i++) {%>  
                                        <tr>
                                            <th scope="row"><%= (i+1) %></th>
                                            <td>
                                                <a href= <%= data[i].image %> target="_blank" >
                                                    <img src= <%= data[i].image %> style="width:50px;height:50px;" class="rounded-circle" > 
                                                </a>
                                            </td>
                                            <td><%= data[i].namabarang %></td>
                                            <td style="float: center;">
                                                <h6 class="m-b-0">Rp. <%= data[i].hargabeli.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></h6>
                                            </td>
                                            <td style="float: center;">
                                                <h6 class="m-b-0">Rp. <%= data[i].hargajual.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'); %></h6>
                                            </td>
                                            <td style="float: center;">
                                                <h6 class="m-b-0"><%= data[i].stok %></h6>
                                            </td>
                                            <td >
                                                <a href="/edit/<%= data[i]._id %> " class="rounded-circle p-2 mb-2"
                                                    style="background:blue;">
                                                    <i class="material-icons" style="color:white">edit</i>
                                                </a>
                                                <form action="/delete/<%=data[i]._id %>">
                                                    <button class="rounded-circle p-2 bg-danger" type="submit">
                                                        <i class="material-icons" style="color:white">delete</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }
                                } else { %>
                                    <tr>
                                        <td colspan="3">No user</td>
                                    </tr>
                                <% } %>    
                              
                            </tbody>
                            </table>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include('partial/footer'); %>

</main>
</div>
</div>



<!-- Le Javascript -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://bootadmin.org/scripts/vendor/bootstrap.min.js"></script>
<script src="https://bootadmin.org/scripts/vendor/library.min.js"></script>



<script src="https://bootadmin.org/scripts/core/main.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104952515-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>

